# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# Notebooks
.ipynb_checkpoints/

# ML artifacts
mlruns/
*.pkl
*.joblib
*.parquet